<ion-card>
  <ion-card-header>
    <ion-card-title>✏️ Редагування інструмента</ion-card-title>
  </ion-card-header>

  <!-- Вибір інструмента -->
  <ion-card-content>
    <ion-item>
      <ion-label position="stacked">Оберіть інструмент</ion-label>
      <ion-select (ionChange)="selectInstrument($event.detail.value)">
        <ion-select-option *ngFor="let instr of instruments; let i = index" [value]="i">
          {{ instr.getName() }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-content>

  <!-- Редагування форми -->
  <ion-card-content *ngIf="form && form.contains('name')" [formGroup]="form">

    <!-- Назва -->
    <ion-item>
      <ion-label position="stacked">Назва</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <!-- Ціна -->
    <ion-item *ngIf="form.contains('price')">
      <ion-label position="stacked">Ціна</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>

    <!-- Тип -->
    <ion-item *ngIf="form.contains('type')">
      <ion-label position="stacked">Тип</ion-label>
      <ion-select formControlName="type">
        <ion-select-option value="guitar">Гітара</ion-select-option>
        <ion-select-option value="piano">Піаніно</ion-select-option>
        <ion-select-option value="drums">Барабани</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- 🎸 Гітара -->
    <ng-container *ngIf="isType('guitar') && form.contains('guitarType') && form.contains('strings')">
      <ion-item>
        <ion-label position="stacked">Тип гітари</ion-label>
        <ion-input formControlName="guitarType"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Кількість струн</ion-label>
        <ion-input type="number" formControlName="strings"></ion-input>
      </ion-item>
    </ng-container>

    <!-- 🎹 Піаніно -->
    <ng-container *ngIf="isType('piano') && form.contains('keys') && form.contains('mechanism')">
      <ion-item>
        <ion-label position="stacked">Кількість клавіш</ion-label>
        <ion-input type="number" formControlName="keys"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Механіка</ion-label>
        <ion-input formControlName="mechanism"></ion-input>
      </ion-item>
    </ng-container>

    <!-- 🥁 Барабани -->
    <ng-container *ngIf="isType('drums') && form.contains('pieces') && form.contains('hasPedal')">
      <ion-item>
        <ion-label position="stacked">Кількість барабанів</ion-label>
        <ion-input type="number" formControlName="pieces"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Педаль</ion-label>
        <ion-toggle formControlName="hasPedal"></ion-toggle>
      </ion-item>
    </ng-container>

    <!-- 💰 Оренда -->
    <ion-item *ngIf="form.contains('rentPricePerDay')">
      <ion-label position="stacked">Оренда/день</ion-label>
      <ion-input type="number" formControlName="rentPricePerDay"></ion-input>
    </ion-item>

    <!-- Зберегти -->
    <ion-button expand="block" color="success" (click)="save()">💾 Зберегти</ion-button>
  </ion-card-content>
</ion-card>
